.github
.git
/target
/steel-registry/src/generated
/steel-utils/src/generated
/steel-core/src/behavior/generated
/steel-worldgen/src/generated
/steel-utils/build_assets/builtin_datapacks
/steel-utils/build_assets/.asset-extract.lock
/steel-utils/build_assets/en_us.json
CONTRIBUTING.md
CLAUDE.md
audit.toml
_typos.toml
.gitignore
README.md
AGENTS.md
prek.toml
update-minecraft-src.sh
clippy.toml
docker-compose.yml
Dockerfile
config
saves
.tmp
.logs
world
players
profile.json.gz
profile.json.syms.json
*.gz
*.class
rustc-ice-*
.vscode
.idea
.DS_STORE
.env
minecraft-src
